<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blog sur Django</title>
</head>
<body>
	<header><h1><a href="/">Le Blog Django</a></h1></header>

	<article>
		<time>Publié: 25.05.2022, 10:00</time>
		<h2><a href="">Mon premier post</a></h2>
		<p>Django is a Python-based web framework, free and open-source, that follows the model–template–views architectural pattern. It is maintained by the Django Software Foundation, an independent organization established in the US as a 501 non-profit.</p>
	</article>

	<article>
		<time>Publié: 26.05.2022, 12:00</time>
		<h2><a href="">Mon deuxième post</a></h2>
		<p>Django's primary goal is to ease the creation of complex, database-driven websites. The framework emphasizes reusability and "pluggability" of components, less code, low coupling, rapid development, and the principle of don't repeat yourself. Python is used throughout, even for settings, files, and data models. Django also provides an optional administrative create, read, update and delete interface that is generated dynamically through introspection and configured via admin models.

		Some well-known sites that use Django include Instagram, Mozilla, Disqus, Bitbucket, Nextdoor and Clubhouse.</p>
	</article>
</body>
</html>